*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #fff;
}

h1 {
  margin-bottom: 1rem;
}

p {
  margin: 0;
  margin-bottom: 1.5rem;
}

/* Social links */
.link-social {
  text-decoration: none;
  font-weight: 700;
  background: hsl(0, 0%, 20%);
  display: block;
  text-align: center;
  color: #fff;
  padding: 1.6rem 0;
  border-radius: 0.7rem;
  margin-bottom: 1.3rem;
  transition: background 0.2s, color 0.2s;
}

.link-social:hover {
  background: hsl(75, 94%, 57%);
  color: #000;
}

.block {
  height: 100vh;
  background: hsl(0, 0%, 8%);
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* Social Links Profile */
.social-links-profile {
  background: hsl(0, 0%, 12%);
  border-radius: 1rem;
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
}

.social-links-profile__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 2.5rem 1.5rem;
}

.social-links-profile__body {
  padding: 0 2rem 2rem;
}

.social-links-profile__image {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
}

.social-links-profile__location {
  font-weight: 600;
  color: hsl(75, 94%, 57%);
}
