*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

h1 {
  margin-bottom: 1rem;
}

p {
  margin: 0;
}

/* Social links */
.link-social {
  text-decoration: none;
  font-weight: 700;
  background: hsl(0, 0%, 20%);
  display: block;
  text-align: center;
  color: #fff;
  padding: 1.6rem 0;
  border-radius: 0.7rem;
  margin-bottom: 1.3rem;
}
